* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(9, 0, 131);
  background-color: rgba(254, 255, 176, 0.842);
}

.hidden {
  display: none;
}

.container-info {
  text-align: center;
  font-size: 20px;
}

p span {
  color: rgb(255, 1, 1);
  font-size: 1.5rem;
}

.game-over{
  font-size: 2rem;
  color: darkred;
}

.board-container {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /* border: 2px solid rgb(184, 2, 2);  */
  margin-top: 5%;
}

.board {
  width: 100px;
  height: 100px;
  background-color: rgb(145, 250, 194);
  border: 2px solid rgb(255, 52, 52); 
  border-radius: 50%; 
  box-sizing: border-box;
}

.goblin {
  background: url(../img/goblin.png);
  background-size: cover;
}